<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.4.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.9.0.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.1.23.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net45" />
</packages>